<!-- src/app/sidebar/sidebar.component.html -->
<nav class="sidebar bg-secondary">
    <div class="position-fixed">
      <div class="text-center my-3">
        <img src="assets/raed.png" alt="Profile" class="img-fluid rounded-circle" style="width: 80px; height: 80px;" />
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  