<!-- src/app/sidebar/sidebar.component.html -->
<nav class="sidebar bg-secondary">
  <div class="position-fixed" style="width:15%;" >
      <div class="text-center my-3">
          <img src="assets/images/raed.png" alt="Profile" class="img-fluid rounded-circle" style="width: 80px; height: 80px;" />
      </div>
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active text-light">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active text-light">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/services" routerLinkActive="active text-light">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/skills" routerLinkActive="active text-light">Skills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/education" routerLinkActive="active text-light">Education</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/work" routerLinkActive="active text-light">Work</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active text-light">Blog</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active text-light">Contact</a>
          </li>
      </ul>
  </div>
</nav>
